.mainContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding-top: 100px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.leftContainer {
    display: flex;
    margin-left: 0;
}

.sdContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p {
    padding: 0;
    margin: 0 auto;

    font-size: 70px;
    
    font-weight: var(--bold);
    color: var(--white);
}

.dev {
    color: var(--green);
    padding: 0;
    margin-top: -35px;
}

.infoContainer {
    font-size: var(--mid-text);
    max-width: 450px;
    color: var(--white);
    text-align: center;
    margin: 1rem auto 4rem;
}

.containerImage {
    position: relative;
    z-index: -1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image1{
    pointer-events: none;
    z-index: -1;
    width: 800px;
    max-width: 100%;
    object-fit: cover;
    height: 560px;
    margin-top: -7rem;
}

.oddyfoto {
    position: absolute;
    top: -5%;
    left: 30%;
    border-radius: 50%;
    width: 30%;
    border: solid 1px var(--green);
}


/* TABLET 680px */
@media(min-width: 680px){
    .infoContainer {
        margin-left: 3rem;
        text-align: center;
        margin-bottom: 4rem;
        font-size: var(--info-text);
    }

    .sdContainer, p {
        font-size: var(--SD-text);
    }
}


/* DESKTOP 1300px */
@media(min-width: 1300px){
    .mainContainer {
        flex-direction: row;
        margin-top: 6rem;
    }

    .leftContainer {
        margin-left: 3rem;
    }

    .sdContainer, p {
        margin: 0;
    }

    .infoContainer {
        font-size: var(--info-text);
        text-align: justify;
        margin-left: 0;
        margin-bottom: 0;
    }

    .image1 {
        margin-left: -100px;
        margin-top: 0;
    }

}
