@import "styles";

* {
    color: var(--gray);
    font-size: var(--navbar-text);
    font-family: var(--RHD-font);
}


body {
    background-color: var(--background-primary);
    cursor:none;
    overflow-x: hidden;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}


